<div>
  <input [(ngModel)]="searchQuery" placeholder="Search Pokémon" />
  <button (click)="searchPokemon()">Search</button>
</div>
<ul>
  <li *ngFor="let pokemon of pokemonList()">
    <a [routerLink]="getRouterLink(pokemon.name)">{{
      pokemon.name | titlecase
    }}</a>
  </li>
</ul>
<!-- TODO implement pagination -->
<div class="pagination-controls">
  <button (click)="goToPage(currentPage - 1)" [disabled]="currentPage <= 1">
    Previous
  </button>
  <button
    (click)="goToPage(currentPage + 1)"
    [disabled]="currentPage >= totalPages"
  >
    Next
  </button>
</div>

<button (click)="loadMorePokemons()" [disabled]="currentPage >= totalPages">
  Load More
</button>
<div>
  Favorites:
  <button (click)="deleteFavorites()">delete all</button>
  <ul>
    <li *ngFor="let pokemon of getFavs()">
      <a [routerLink]="getRouterLink(pokemon.name)">{{
        pokemon.name | titlecase
      }}</a>
    </li>
  </ul>
</div>
