<div>
  <input [(ngModel)]="searchQuery" placeholder="Search Pokémon" />
  <button (click)="searchPokemon()">Search</button>
</div>
<ul>
  <li *ngFor="let pokemon of pokemonList()">
    <a [routerLink]="getRouterLink(pokemon.name)">{{
      pokemon.name | titlecase
    }}</a>
  </li>
</ul>
<!-- TODO implement pagination -->
<button>Load More</button>
<div>
  Favorites:
  <ul>
    <li *ngFor="let pokemon of getFavs()">
      <a [routerLink]="getRouterLink(pokemon.name)">{{
        pokemon.name | titlecase
      }}</a>
    </li>
  </ul>
</div>
